@model LifeDrop.Models.Doador

@{
    ViewData["Title"] = "Index";
}

<body>
    <div class="container mt-4">
        <div class="row">
            <!-- Contêiner Infos e tipagem com tamanho 4 -->
            <div class="col-sm-4">
                <h5 class="text-center">Informações pessoais</h5>
                <div class="formularioperfil">
                    <form asp-action="Salvar" id="formPerfil">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="IdDoador" />
                        <input type="hidden" asp-for="IdUsuario" />
                        <div class="row mt-4">
                            <div class="col-sm-12">
                                <label asp-for="Nome">Nome Completo</label>
                                <input asp-for="Nome" type="text" class="form-control">
                                <span asp-vallidation-for="Nome" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="row mt-2">
                            <div class="col-sm-12">
                                <label asp-for="Email">E-mail</label>
                                <input asp-for="Email" type="text" class="form-control">
                                <span asp-vallidation-for="Email" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="row mt-2">
                            <div class="col-sm-12">
                                <label asp-for="Telefone">Telefone</label>
                                <input asp-for="Telefone" type="text" class="form-control" id="telefoneInput">
                                <span asp-vallidation-for="Telefone" class="text-danger"></span>

                            </div>
                        </div>

                        <div class="row mt-2">
                            <div class="col-sm-12">
                                <label asp-for="Genero">Gênero</label>
                                <select asp-for="Genero" class="form-control" id="Genero">
                                    <option value="">Selecione</option>
                                    <option value="masculino">Masculino</option>
                                    <option value="feminino">Feminino</option>
                                    <option value="outro">Outro</option>
                                </select>
                                <span asp-vallidation-for="Genero" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="row mt-2">
                            <div class="col-sm-12">
                                <label asp-for="DataNasc">Data de nascimento</label>
                                <input asp-for="DataNasc" type="text" class="form-control" id="nascimentoInput">
                                <span asp-vallidation-for="DataNasc" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="row mt-2">
                            <div class="col-sm-12">
                                <label asp-for="CPF">CPF</label>
                                <input asp-for="CPF" type="text" class="form-control" id="cpfInput">
                                <span asp-vallidation-for="CPF" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="row mt-2">
                            <div class="col-sm-12">
                                <label asp-for="Endereco">Endereço</label>
                                <input asp-for="Endereco" type="text" class="form-control" id="cpfInput">
                                <span asp-vallidation-for="Endereco" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="row mt-4">
                            <div class="col-sm-12">
                                <label asp-for="TipoSanguineo">Tipo sanguíneo</label>
                                <select asp-for="TipoSanguineo" class="form-control" id="tipoSelect">
                                    <option value="">Selecione</option>
                                    <option value="A-">A-</option>
                                    <option value="A+">A+</option>
                                    <option value="B-">B-</option>
                                    <option value="B+">B+</option>
                                    <option value="AB-">AB-</option>
                                    <option value="AB+">AB+</option>
                                    <option value="O-">O-</option>
                                    <option value="O+">O+</option>
                                </select>
                                <span asp-vallidation-for="TipoSanguineo" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="row mt-2 text-end">
                            <div class="col-sm-12">
                                <button id="btn_save" type="submit" class="btn btn-primary">
                                    Salvar
                                </button>
                            </div>
                        </div>
                        <script>
                            // Função para exibir o alerta "Informações salvas"
                            function exibirAlerta() {
                                alert("Informações salvas");
                            }

                            // Event listener para o botão "Salvar"
                            const botaoSalvar = document.getElementById('btn_save');
                            botaoSalvar.addEventListener('click', function () {
                                exibirAlerta();
                            });
                        </script>

                       
                    </form>
                </div>                            
            </div>
            <div class="col-sm-8">
                <div class="agendaUsario">
                    <h5 class="text-center">Meus agendamentos</h5>
                    <div class="row mt-4">
                        <div class="col-sm-10 mx-auto">
                            @if (Model.Agendamentos != null && Model.Agendamentos.Any())
                            {
                                @foreach (var item in Model.Agendamentos.Where(a=>a.StatusDaDoacao == Status.Agendado))
                                {
                                    <div class="card ml-6">
                                        <div class="px-2 my-2">
                                            <p class="card-text"><b>Data:</b> @item.Data.ToShortDateString()</p>                                
                                            <p class="card-text"><b>Hora: </b>@item.Hora</p>
                                            <p class="card-text"><b>Unidade: </b>@item.Unidade.NomeUnidade</p>
                                            <p class="card-text"><b>Endereço: </b>@item.Unidade.Endereco</p>
                                        </div>
                                        <div class="text-end px-2 my-2">
                                            <input type="button" class="btn btn-primary" value="Alterar" onclick="location.href='@Url.Action("Editar", "AgendeDoacao", new { id = item.IdAgendamento })'" />
                                            <input type="button" class="btn btn-danger" value="Cancelar" onclick="location.href='@Url.Action("Cancelar", "AgendeDoacao", new { id = item.IdAgendamento })'" />
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>     
    </div>
</body>



@section Scripts {
    <script>
        $('#telefoneInput').mask('(00) 0 0000-0000', { placeholder: "(__)_ ____ ____" });
        $('#nascimentoInput').mask('00/00/0000', { placeholder: "__/__/____" });
        $('#cpfInput').mask('000.000.000-00', { placeholder: "___.___.___-__" });


        
            document.addEventListener("DOMContentLoaded", function () {
                console.log("JavaScript executado na segunda página.");
                var meuDado = localStorage.getItem('meuDado');

                if (meuDado !== null) {
                    alert("Doação Emergencial: " + meuDado);
                    localStorage.removeItem('meuDado');
                }
            });
    </script>
    
}
