@model IEnumerable<LifeDrop.Models.Agendamento>
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewData["Title"] = "Agendamentos";
}

<body> 
    <h1>Agendamentos </h1>
    @foreach (var item in Model)
    {
    <div class="div_table">
        <table>
            <tr>
                <th>Dia:</th>
                    <td>@Html.DisplayFor(modelItem => item.Data)</td>
                <th>Horário:</th>
                    <td>@Html.DisplayFor(modelItem => item.Hora)</td>
                <th>Status do Agendamento:</th>
                    <td>@Html.DisplayFor(modelItem => item.StatusDaDoacao)</td>
            </tr>
            <tr>
                <th>Nome:</th>
                    <td>@Html.DisplayFor(modelItem => item.Doador.Nome)</td>
                <th>Data de Nascimento:</th>
                    <td>@Html.DisplayFor(modelItem => item.Doador.DataNasc)</td>
                <th>CPF:</th>
                    <td>@Html.DisplayFor(modelItem => item.Doador.CPF)</td>
            </tr>
            <tr>
                <th>Telefone:</th>
                    <td>@Html.DisplayFor(modelItem => item.Doador.Telefone)</td>
                <th>E-mail:</th>
                    <td>@Html.DisplayFor(modelItem => item.Doador.Email)</td>
                <th>Tipo Sanguíneo:</th>
                    <td>@Html.DisplayFor(modelItem => item.Doador.TipoSanguineo)</td>
            </tr>
        </table>
    </div>
    }
</body>
