@model IEnumerable<LifeDrop.Models.BancoDeSangue>

@{
    ViewData["Title"] = "Index";
}

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<h1>Lista </h1>

<p>
    <a asp-action="Create" class="btn btn-success">Adicionar</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeUnidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Endereco)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeUnidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Endereco)
            </td>
            <td>
                    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.IdBancoDeSangue">Editar</a> |
                    <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.IdBancoDeSangue">Visualizar</a> |
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.IdBancoDeSangue">Apagar</a>
            </td>
        </tr>
}
    </tbody>
</table>
