@model LifeDrop.Models.Agendamento

@{
    ViewData["Title"] = "View";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h5 class="text-center  mb-4 mt-4">Você tem certeza que gostaria de cancelar esse agendamento?</h5>
            <div class="container">
                <dl class="row justify-content-center">
                    <dt class="col-sm-5 text-end">
                        @Html.DisplayNameFor(model => model.Data)
                    </dt>
                    <dd class="col-sm-6">
                        @Html.DisplayFor(model => model.Data)
                    </dd>
                    <dt class="col-sm-5 text-end">
                        @Html.DisplayNameFor(model => model.Hora)
                    </dt>
                    <dd class="col-sm-6">
                        @Html.DisplayFor(model => model.Hora)
                    </dd>
                    <dt class="col-sm-5 text-end">
                        @Html.DisplayNameFor(model => model.Unidade.NomeUnidade)
                    </dt>
                    <dd class="col-sm-6">
                        @Html.DisplayFor(model => model.Unidade.NomeUnidade)
                    </dd>
                    <dt class="col-sm-5 text-end">
                        @Html.DisplayNameFor(model => model.Unidade.Email)
                    </dt>
                    <dd class="col-sm-6">
                        @Html.DisplayFor(model => model.Unidade.Email)
                    </dd>
                </dl>
            </div>

                <form asp-action="Cancelar" id="cancelar">
                    <input type="hidden" asp-for="IdAgendamento" />
                    <div class="text-center">
                        <button type="button" class="btn btn-primary" onclick="confirmarCancelamento()">
                            Confirmar
                        </button>
                        <a asp-action="Index" asp-controller="MeuPerfil" class="btn btn-warning">Voltar</a>
                    </div>
                </form>

            </div>
        </div>
    </div>
    @section scripts {
        <script>
            function confirmarCancelamento() {
               

                // Exibe um alerta
                if (confirm("Tem certeza que gostaria de cancelar este agendamento?")) {
                    // Envie o formulário
                    document.getElementById('cancelar').submit();
                }
            }
        </script>
    }

</div>

