@model LifeDrop.Models.Agendamento

@{
    ViewData["Title"] = "View";
}

<h3>Você tem certeza que gostaria de cancelar esse agendamento?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Data)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Data.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hora)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hora)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StatusDaDoacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StatusDaDoacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Unidade.NomeUnidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Unidade.NomeUnidade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Unidade.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Unidade.Email)
        </dd>
    </dl>
    
    <form asp-action="Cancelar">
        <input type="hidden" asp-for="IdAgendamento" />
        <input type="submit" value="Confirmar" class="btn btn-primary" /> |
        <a asp-action="Index" asp-controller="MeuPerfil">Voltar</a>
    </form>
</div>
